page{
	background-color: #F9F9F9;
}
.topcuwe{
	width: 750rpx;
	height: 229rpx;
	background:    #113281;
}
.userinfoview{
	width: 700rpx;
	background: rgba(255,255,255,1);
	box-shadow: 0rpx 6rpx 6rpx rgba(0,0,0,0.03);
	border-radius: 28rpx;
	margin-top: -105rpx;
	margin-left: 25rpx;
	padding:25rpx 0rpx;
}
.bottomenus{
	width: 702rpx;
	background: rgba(255,255,255,1);
	border-radius: 20rpx;
	margin-left: 25rpx;
	margin-top: 25rpx;
	padding: 25rpx;
}